.poster{
    width: 183px;
    height: 100%;
    flex-shrink: 0;
}

.item{
    display: flex;
    background: #FFFFFF;
    width: 454px;
    height: 281px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.title__name{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

.content {
    padding: 12px 9px 15px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.release{
    display: flex;
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
    flex: none !important;
}

.overview{
    display: flex;
    font-size: 12px;
    line-height: 22px;
    width: 228px;
    max-height: 129px;
    flex: none !important;
}

.stars{
    width: 100%;
}

.genre {
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    padding: 2px 5px 3px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-right: 8px;
    margin-bottom: 7px;
}

.title__score {
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    border: 2px solid #e9d100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 510px) {
    .item {
        max-width: 387px;
        max-height: 245px;
        position: relative;
    }

    .poster {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 60px;
        height: 90px;
        flex-shrink: 0
    }

    .content {
        padding-left: 90px; 
    }

    .stars {
        position: absolute;
        bottom: 0;
        left: 138px;
        margin: 0;
    }

    .overview {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        padding: 0 10px;
    }

    .title__name {
        margin: 0;
        font-size: 18px;
    }

    .release {
        margin: 0;
    }
}