.list{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    gap: 36px;
    background: #FFFFFF;
}

.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (max-width: 1010px){
    .list {
        align-items: center;
        flex-direction: column;
    }
}