body{
    font-family: 'Inter', sans-serif;
}

.title {
    width: 228px;
    font-size: 20px;
    flex: none !important;
}

.release {
    display: flex;
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
    flex: none !important;
}

.overview {
    display: flex;
    font-size: 12px;
    line-height: 22px;
    width: 228px;
    max-height: 129px;
    flex: none !important;
}

.test {
    background-color: white;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    width: 1010px;
    margin: 0 auto;
    background: #FFFFFF;
}

.frame {
    display: flex;
    background: #FFFFFF;
    width: 454px;
    height: 281px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.item {
    display: flex;
    width: 451px;
}

.frame__overview {
    padding-left: 12px;
    overflow: hidden;
    gap: 7px;
    flex: content;
}

.header {
    display: flex;
    margin: 0 auto;
    width: 1010px;
    
}

.input {
    width: 938px;
    height: 40px;
}

.genre {
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    padding: 2px 5px 3px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-right: 8px;
    margin-bottom: 7px;
}

.stars {
    width: 100%;
}

.poster {
    width: 183px;
    height: 281px;
}